.assets {
    list-style-type: none;
    margin: 0;
}

.asset {
    margin: 1rem 0;

    a {
        background: #f4f4f4;
        color: #000000;
        display: block;
        padding: 1rem;
        text-decoration: none;
    }

    a:hover {
        background: #e4e4e4;
    }

    h1 {
        margin-bottom: 0;
    }

    p {
        color: #777;
        font-size: 0.8rem;
    }
}